<?php

echo "<html>\n";
echo "<head> \n";
echo "<style type=\"text/css\">\n";
echo "h1{font-family:san-serif;\n";
echo "font-size:2em;\n";
echo "text-align:center;\n";
echo "color:blue;\n";
echo "}\n";
echo "h2{font-family:san-serif;\n";
echo "font-size:2em;\n";
echo "text-align:center;\n";
echo "color:orange;\n";
echo "}\n";
echo "\n";
echo "</style>\n";
echo "</head>\n";
echo "<body>\n";
echo "<center>\n";
echo "<img src=\"https://upload.wikimedia.org/wikipedia/commons/1/1e/Bald_Eagle_Portrait.jpg\" alt=\"Eagle Icon\" style=\"width:128px;height:128px;\">\n";
echo "<h1>Eagle Financial Services <br/>\n";
echo "Your Midwest Financial Services partner</h1>\n";
echo "<h2><b>Financial Advisor Portfolio Planner</b></h2>\n";
echo "</center>\n";
echo "<div>\n";
echo "<form>\n";
echo "<fieldset>\n";
echo "<legend><h1>Portfolio Planner Options</h1></legend><br/>\n";
echo "<table width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\">\n";
echo "  <tr>\n";
echo "     <td><h1><a href=\"http://eagle-varshareddy.rhcloud.com/eagle/customers\">Customers</a></h1>\n";
echo "     </td>\n";
echo "  </tr>\n";
echo "  <tr>\n";
echo "     <td><h1><a href=\"http://eagle-varshareddy.rhcloud.com/eagle/investments\">Investments</a></h1>\n";
echo "     </td>\n";
echo "  </tr>\n";
echo "  <tr>\n";
echo "     <td><h1><a href=\"http://eagle-varshareddy.rhcloud.com/eagle/stocks\">Stocks</a></h1>\n";
echo "     </td>\n";
echo "  </tr>\n";
echo "\n";
echo "</table>\n";
echo "</fieldset>\n";
echo "</form>\n";
echo "</div>\n";
echo "</body>\n";
echo "</html>";

?>
